[data-theme='light'] {
    --bg-color: #ffffff;
    --text-color: #000000;
    --btn-bg: #333333;
    --btn-text: #ffffff;
    --card-bg: #f4f4f4;
}

[data-theme='dark'] {
    --bg-color: #111111;
    --text-color: #ffffff;
    --btn-bg: #333333;
    --btn-text: #ffffff;
    --card-bg: #1f1e1e;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.btn {
    background-color: var(--btn-bg);
    color: var(--btn-text);
}

.card {
    background-color: var(--card-bg);
}

body,
.btn,
.card {
    transition: background-color 0.3s, color 0.3s;
}

.opatityToast {
    display: none;
    opacity: 0;
    transition: 0.3s;
}